.homepage-container {
  .welcome {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 3px;
    background: linear-gradient(45deg, #007bff, #ff5722);
    -webkit-background-clip: text;
    color: transparent;
    animation: fadeIn 3s ease-in-out; /* Áp dụng hiệu ứng fade-in */

    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    /* Animation fade-in */
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .section-title {
    font-size: 2.5rem; /* Kích thước chữ lớn hơn */
    font-weight: bold; /* Chữ in đậm */
    text-align: center; /* Căn giữa */
    margin: 40px 0; /* Khoảng cách trên và dưới */
    position: relative; /* Để sử dụng hiệu ứng trước và sau */
    background: linear-gradient(90deg, #007bff, #ff5722); /* Gradient */
    -webkit-background-clip: text; /* Áp dụng gradient cho chữ */
    color: transparent; /* Chữ trong suốt để hiện gradient */

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100px; /* Độ dài đường gạch */
      height: 4px; /* Độ dày đường gạch */
      background: linear-gradient(90deg, #007bff, #ff5722); /* Gradient */
      top: 50%; /* Canh giữa theo trục dọc */
      transform: translateY(-50%);
      border-radius: 2px; /* Bo góc đường gạch */
    }

    &::before {
      left: calc(50% - 500px); /* Căn chỉnh đường bên trái */
    }

    &::after {
      right: calc(50% - 500px); /* Căn chỉnh đường bên phải */
    }
  }

  font-family: Arial, sans-serif;
  color: #333;

  .nav-link {
    &.active {
      color: #00bfff;
    }
  }
}
